{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}
{% block main %}
    <div class = "signInBody">
        <div class="mainSignUp">  	
            <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form method = "POST" action="/login">
                        <label for="chk" aria-hidden="true">Login</label>
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="password" name="paswrd" placeholder="Password" required="">
                        <button class = "submitLogin" type = "submit">Login</button>
                    </form>
                </div>

                <div class="login">
                    <form method = "POST" action="/register">
                        <label for="chk" aria-hidden="true">Register</label>
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="text" name="name" placeholder="Name" required="">
                        <input type="password" name="password" placeholder="Password" required="">
                        <input type="password" name="confirm" placeholder="Confirm Password" required="">
                        <button class = "submitLogin" type = "submit">Sign up</button>
                    </form>
                </div>
        </div>
    </div>


{% endblock %}